{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "max-len": 0,
    "no-multi-str": 0,
    "linebreak-style": 0
  }
}