{
    "parserOptions": {
      "sourceType": "module"
    },
    "env": {
      "browser": true,
      "jquery": true,
      "es6": true,
      "node": true
    },
    "globals": {
      "joint": true,
      "_": true,
      "g": true,
      "app": true,
      "V": true,
      "Pace": true
    },
    "parser": "babel-eslint",
    "extends": [
      "eslint:recommended",
      "google"
    ],
    "rules": {
      "import/no-extraneous-dependencies": 0,
      "max-len": 0,
      "require-jsdoc": 0,
      "valid-jsdoc": 0,
      "no-multi-str": 0,
      "no-console": 0,
      "indent": [
        "error",
        2
      ],
      "linebreak-style": 0
    }
    }